[Unit]
Description=Starts the show client
After=pru-led.service
After=showclient.service
Wants=multi-user.target

[Service]
Type=exec
User=root
WorkingDirectory=/root/startup
ExecStart=/root/startup/showserver.sh

[Install]
WantedBy=multi-user.target


